config/local.json

node_modules/
build
src/routes/routes.ts
dist
coverage
.tsimp

.DS_Store
.npm
.env
.cache

.local
.nvm
.bash_history
.ngrok

logs.txt
npm-debug.log*
*.log
*.tsbuildinfo
knexfile.js
*.pid
*.seed
*.pid.lock
id_ed25519

id_ed25519
