config/local.json

node_modules/
build
src/swagger.json
src/routes.ts
dist
coverage

.DS_Store
.npm
.env
.cache

.local
.nvm
.bash_history
.ngrok

logs.txt
npm-debug.log*
*.log
*.tsbuildinfo
knexfile.js
*.pid
*.seed
*.pid.lock

