# Run stack and integration tests with:
#
# docker compose \
#   -f docker-compose-testnet.yml \
#   -f docker-compose-integration-tests.yml \
#   up --build --exit-code-from integration-tests
#
# Or as a one-liner:
# export NODE_EXTRA_CA_CERTS="$(mkcert -CAROOT)/rootCA.pem" && docker compose -f docker-compose-testnet.yml -f docker-compose-integration-tests.yml up --build --exit-code-from integration-tests
#

services:
  integration-tests:
    container_name: integration-tests
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    depends_on:
      alice:
        condition: service_healthy
      bob:
        condition: service_healthy
      charlie:
        condition: service_healthy
    environment:
      - NODE_ENV=test
      - ALICE_BASE_URL=http://alice:3000
      - ALICE_WS_PORT=5003
      - ALICE_DID
      - ALICE_PRIV_KEY
      - BOB_BASE_URL=http://bob:3000
      - BOB_DID
      - BOB_PRIV_KEY
      - CHARLIE_BASE_URL=http://charlie:3000
      - CHARLIE_DID
      - CHARLIE_PRIV_KEY
      - LOG_LEVEL=debug
    command: ['npm', 'run', 'test:integration']
    networks:
      - testnet
    volumes:
      - ${NODE_EXTRA_CA_CERTS}:/rootCA.pem

  alice:
    environment:
      - STORAGE_TYPE=sqlite

  bob:
    environment:
      - STORAGE_TYPE=sqlite
      - DID_WEB_DEV_CERT_PATH=/bob.pem
      - DID_WEB_DEV_KEY_PATH=/bob-key.pem

  charlie:
    environment:
      - STORAGE_TYPE=sqlite
      - DID_WEB_DEV_CERT_PATH=/charlie.pem
      - DID_WEB_DEV_KEY_PATH=/charlie-key.pem
