name: Release

on:
  push:
    branches: ['main']

jobs:
  static-checks:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main

  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      coverage: false
      docker_compose_file: ''
      pre_test_command: 'npm run build'
      tests: '["test:unit"]'

  build-docker:
    needs:
      - static-checks
      - tests
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    with:
      push_dockerhub: true
      push_ghcr: true
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DSCP_DOCKERHUB_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DSCP_DOCKERHUB_USERNAME }}

  generate-sbom-npm:
    needs:
      - build-docker
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    permissions:
      contents: read
    with:
      additional_args: "--ignore-npm-errors"
      enable_check_version: true
      enable_dtrack_project: true
      sbom_output_file: ${{ github.event.repository.name }}.cdx.json
    secrets:
      DTRACK_APIKEY: ${{ secrets.DTRACK_APIKEY }}
      DTRACK_HOSTNAME: ${{ secrets.DTRACK_HOSTNAME }}

  release-github:
    needs:
      - build-docker
      - generate-sbom-npm
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    with:
      get_sbom: true
    permissions:
      contents: write
      pull-requests: read
    secrets: inherit
