name: Lint and Test

on:
  pull_request:
    branches-ignore: ['main']
  push:
    branches-ignore: ['main']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

concurrency:
  group: credo-ts-${{ github.ref }}-${{ github.repository }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  static-checks:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      enable_semgrep_action: true
      enable_trufflehog_action: true
      trufflehog_extra_args: '--results=verified,unknown --log-level=2'

  unit-tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      coverage: false
      npm_build_command: >
        sudo apt-get update &&
        sudo apt-get install -y libnss3-tools mkcert &&
        mkcert -install &&
        mkcert alice localhost &&
        mkcert bob localhost &&
        mkcert charlie localhost &&
        echo "NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem" >> $GITHUB_ENV
      pre_test_command: 'npm run build'
      tests: '["test:unit"]'

  integration-tests:
    name: 'Run integration tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: '--debug'

      - uses: actions/checkout@v6

      - name: Install mkcert
        run: |
          sudo apt-get update
          sudo apt-get install -y libnss3-tools mkcert
      - name: Generate HTTPS certificates
        run: |
          mkcert -install
          mkcert alice localhost
          mkcert bob localhost
          mkcert charlie localhost

      - name: Set root CA path
        run: echo "NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem" >> $GITHUB_ENV

      - name: Build testnet and integration images
        uses: docker/bake-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          files: |
            ./docker-compose-testnet.yml
            ./docker-compose-integration-tests.yml
          set: |
            *.cache-from=type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            *.cache-to=type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},mode=max
          load: true
          push: false

      - name: Run integration tests
        run: |
          docker compose \
            -f docker-compose-testnet.yml \
            -f docker-compose-integration-tests.yml \
            up --exit-code-from integration-tests

  build-docker:
    needs:
      - static-checks
      - unit-tests
      - integration-tests
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read

  generate-sbom-npm:
    needs:
      - build-docker
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    permissions:
      contents: read
    with:
      additional_args: "--ignore-npm-errors"
